*~
.idea/
resources/
__pycache__/
*.avi
*.asv
*.mp4
*.h5
*.yml

*.pth
*.pt

runs/
checkpoints/

resources/
cmake-build-debug/

test/

*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex.gz*
*.db
*.out
*.toc
*.tks
*.lof
*.lot

*.dvi

*.mp4

~$*

*.out.ps
*.pag
*.brf
