pandas
scikit-image
dominate
visdom
mediapipe
charset-normalizer
colorama
contourpy
cycler
einops
filelock
fonttools
h5py
huggingface-hub
idna
kiwisolver
matplotlib
numpy
nvidia-ml-py3
opencv-python
packaging
Pillow
psutil
pyparsing
python-dateutil
PyYAML
requests
scipy
six
termcolor
timm
tqdm
typing_extensions
urllib3
wincertstore
yacs
tqdm
tensorboard
numba
moderngl
pykeops
geomloss
pot
kornia
segmentation-models-pytorch
jupyter
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio